// ___________________________________________________________________
// Global Config
// ___________________________________________________________________

// Google Font Stack
$font-url--google: 'https://fonts.googleapis.com/css?family=Open+Sans';

//Font Stack
$font-family--primary: 'Open Sans', sans-serif;

// Font Weights
$font-weight--semi-bold: 600;

// Descriptive Base Colors
$orange: #ffad33;
$black: rgba(0, 0, 0, 0.75);

// Color Usage
$color-text-highlight: $orange;
$color-text-primary: $black;

// Text
$base__font-size: 1em;
$base__line: 1.8;

// Breakpoints
// $brkpoint-sm: '(min-width: 320px)';
// $brkpoint-md: '(min-width: 768px)';
// $brkpoint-lg: '(min-width: 1024px)';
