// ___________________________________________________________________
// Containers
// ___________________________________________________________________

.container {
	@media #{$brkpoint-md} {
	width: 75%;
  margin: 0 auto;
	}

  &__video {
  	padding-bottom: 1em;

  	@media #{$brkpoint-md} {
  		padding-top: 2em;
  	}
  }

  &__transcript {
  	margin: 0 auto;

  	@media #{$brkpoint-md} {
		width: 100%;
		}

		@media #{$brkpoint-sm} {
		width: 85%;
		}
  }
}
