// ___________________________________________________________________
// Video Player Controls
// ___________________________________________________________________

.mejs__button > button:hover {
  transform: scale(1.5);
}

span.mejs__time-current {
  background: $color-text-highlight;
}


// Cursor turns to pointer to show you can jump around video when clicking 
// on transcript
.container__transcript span:hover {
  cursor: pointer;
}
