// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family--primary;
  font-weight: $font-weight--semi-bold;
  line-height: $base__line;
  color: $color-text-primary;
}
